.title {
    color: #1A4894;
    font-size: bold;
}

.formLabel{
    color: #000000
}

.nextIcon{
    font-weight: bold;
    font-size: 1.5em;
}

.nextBtn {
    background-color: #1A4894;
    color: white;
}

.nextText{
    font-weight: bold;
    font-size: 1em;
}

.select{
    padding: 3px;
    font-weight: bold;
    border-radius: 0.4em;
    border: 1px solid #1A4894;
}

.badge{
    position: absolute;
    color: white;
    right: 38;
    top: 10;
    height: 25;
    width: 25;
    font-size: 1.1em;
    background-color: #1A4894;
}

.saveBtn{
    background-color: #1A4894;
    color: white;
    border-radius: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    width: 12em;
}

.backIcon {
    color: #1A4894;
    font-size: 1em;
    font-weight: bold;
}

.backText{
    color: #1A4894;
    font-size: 0.9em;
    font-Weight: bold;
}