
.root {
    height: 100vh;
    overflow: hidden;
}

.link:active {
    background-color: #51288d;
    color: white;
}


.linkA:active {
    color: #707070;
}

.linkA:hover {
    color: #707070;
}

.active .linkA {
    color: white !important;
}

.active {
    background-color: rgb(255, 85, 85) !important;
    color: white !important;
}

.common {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 35rem !important;
    color: #707070;
}



.col2 {
    position: relative;
    /* top:-10%; */
}

.col1 {
    /* position: absolute; */
    top: 10%;
}


.mainLink {
    padding-top: 0.5em;
}

.mainIconsDashDiv {
    cursor: pointer;
    line-height: 1em;
    border-radius: 2px;
    padding: 10px 7px 10px 2px;
    background: white;
    color: #707070;
}

.mainIconsDashDiv a {
    color: #707070 !important;
}

.mainIconsDashDivActive {
    cursor: pointer;
    line-height: 1em;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 2px;
    padding: 10px 7px 10px 2px;
    background: #ff5555;
    color: #FAFAFA
}

.sideDiv {
    /* max-height:40em;
    position:relative;
    overflow-y: auto;
    position:fixed; */
    display: inline-block;
    vertical-align: top;
    height: 100%;
    min-width: 100px;
    overflow: auto;
}

.sideDiv::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

.icon {
    cursor: pointer;
    font-size: 1.3em
}


.pointer {
    cursor: pointer;
}

/**
 * Profile image component
 */
.profile_header_container {
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}


.profile_header_img > img.img_circle {
    width: 40px;
    height: 40px;
    /* border: 0.01px solid darkolivegreen; */
    cursor: pointer;
}


.sideDiv, .mainContent {
    height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 0;
}


.sideDiv::-webkit-scrollbar-track, .mainContent::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f8f8f8;
}

.sideDiv::-webkit-scrollbar {
    width: 3px;
    background-color: #f8f8f8;

}

.mainContent::-webkit-scrollbar {
    width: 5px;
    background-color: #f8f8f8;

}

.sideDiv::-webkit-scrollbar-thumb, .mainContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #707070;
}


/**
 * Ranking component
 */
.rank_label_container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label_default.rank_label {
    background-color: #D9534F;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
}


.settingsIcon {
    margin-top: 2em;
}

.content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 82%;
    overflow: auto;
    background: #F5F5F5;
    padding: 14px 0 0 18px;
}


.menuIcon {
    background-color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
}

/* Styles with the new version .... */

.sidebarLink {
    cursor: pointer;
    transition: .4s;
}


.sidebarLink:hover {
    background-color: #f7f7f7;
}

.sidebarActiveLink {
    cursor: pointer;
    background-color: #51288d;
    color: white !important;
}

.sidebarActiveLink svg path:nth-child(2) {
    fill: white
}

.mainMenu {
    max-height: 78vh;
    overflow-y: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

.mainMenu::-webkit-scrollbar {
    width: 6px;
}

.mainMenu::-webkit-scrollbar-track {
    background-color: #eeeeee;
}

.mainMenu::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: darkgrey;
}